<footer class="footer">
  <small> Apredendo RubyOnRails </small>
  <nav>
    <ul>
      <li><%= link_to "Sobre Nós", about_path %></li>
      <li><%= link_to "Contato", contact_path %></li>
      <!--<li><a href="http://news.railstutorial.org/">News</a></li>-->
    </ul>
  </nav>
</footer>
